<!DOCTYPE html>
<html lang="hu">
	<head>
		<meta charset="utf-8">
		<title>{{ title }} | Mindenki Fotogén</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<meta name="description" content="{{ description | default: 'Mindenki fotogén. Egy laza, 30 perces fotózáson segítek megtalálni a legjobb oldalad, és olyan képeket készítünk, amikre büszke lehetsz.' }}">

		<!-- Styles -->
		<link rel="stylesheet" href="/assets/css/style.css">

		<!-- Google Fonts -->
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">

		<!-- Favicons -->
		<link rel="icon" type="image/png" href="/assets/favicons/favicon-96x96.png" sizes="96x96">
		<link rel="icon" type="image/svg+xml" href="/assets/favicons/favicon.svg">
		<link rel="shortcut icon" href="/assets/favicons/favicon.ico">
		<link rel="apple-touch-icon" sizes="180x180" href="/assets/favicons/apple-touch-icon.png">
		<meta name="apple-mobile-web-app-title" content="Mindenki Fotogén">
		<link rel="manifest" href="/assets/favicons/site.webmanifest">

		<!-- Open Graph -->
		<meta name="twitter:card" content="summary">
		<meta name="twitter:site" content="@szabokaphoto">
		<meta name="twitter:creator" content="@szabokaphoto">
		<meta property="og:type" content="website">
		<meta property="og:url" content="https://mindenkifotogen.hu{{ page.url }}">
		<meta property="og:title" content="{{ title }} | Mindenki Fotogén">
		<meta property="og:description" content="{{ description | default: 'Mindenki fotogén. Egy laza, 30 perces fotózáson segítek megtalálni a legjobb oldalad, és olyan képeket készítünk, amikre büszke lehetsz.' }}">
		<meta property="og:image" content="https://mindenkifotogen.hu/assets/images/og-image.webp">

		<!-- Ahrefs Analytics -->
		<script src="https://analytics.ahrefs.com/analytics.js" data-key="sMuNnBgSbEiMS8FI2SzXRg" async></script>
	</head>

	<body>
		{% include "header.html" %}
		{{ content }}
		{% include "footer.html" %}
	</body>
</html>
