<!DOCTYPE html>
<html lang="hu">
	<head>
		<meta charset="utf-8">
		<title>{{ title }} | Mindenki Fotogén</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<meta name="description" value="{{ description | default: 'Hiszem, hogy mindenki fotogén. Egy laza, 30 perces fotózás során segítek megtalálni a legjobb oldalad, és olyan képeket készítünk, amelyekre igazán büszke leszel.' }}">

		<!-- Styles -->
		<link rel="stylesheet" href="/assets/css/style.css">

		<!-- Google Fonts -->
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">

		<!-- Ahrefs Analytics -->
		<script src="https://analytics.ahrefs.com/analytics.js" data-key="sMuNnBgSbEiMS8FI2SzXRg" async></script>
	</head>

	<body>
		{% include "header.html" %}
		{{ content }}
		{% include "footer.html" %}
	</body>
</html>
